:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  overflow: hidden;
}

body::before,
body::after {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: none;
  z-index: -1;
}

body::before {
  top: 0;
  left: 0;
  transform: translate(-0%, -20%);
  background-image: url("images/bg-pattern-top.svg");
  background-position: none;
  height: 750px;
  width: 750px;
}

body::after {
  bottom: 0;
  right: 0;
  transform: translate(8%, 10%);
  background-image: url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: none;
  background-size: cover;
  height: 500px;
  width: 60vw;
}

main {
  position: relative;
  width: 375px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(106, 111, 129, 0.5);
  background-color: white;
}

.banner img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -45%);
}

.avatar img {
  border-radius: 50%;
  border: solid white 6px;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 70px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1rem;
}

h1 span {
  color: var(--Dark-gray);
  font-weight: 400;
}

.user p {
  color: var(--Dark-gray);
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  border-top: solid 0.5px #8080803b;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
}

.stat span {
  font-weight: bolder;
  font-size: 1.1rem;
}

.stat p {
  margin-top: 10px;
  color: gray;
  font-size: 0.8rem;
}
